
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> carrito </title>

</head>
<body style="display: flex; justify-content:center ; background-image:url(/assets/supermercado.png) ; background-repeat:no-repeat ; background-size:cover">
    {{{body}}}
 


<div style="border-radius : 20px ; background-color: #FF9A8A ; padding : 2% ; width :50%; margin-top:50px">
<h1 style="border-bottom: 2px solid #000000;">TUS PRODUCTOS</h1>
{{#each cartInfo}}
 
<div style="display: flex;">
    <h1 class="product" style="background-color: #FF8A77;">{{product}} - cantidad : {{quantity}} - precio : ${{price}}</h1>
    <button id={{productId}} class="delete_product" style="height: 20px; margin-left:5px ; margin-top:30px" >Delete</button>
</div>



{{/each}}

<h2>Precio Total: ${{totalPrice}}</h2>

<button id={{id}} class="sendTicket" style="width : 60% ; font-size : 18px">Finalizar compra</button>

<a style="display: block; margin-top:10px" href="https://backend-new-production.up.railway.app/api/products">Ver Productos</a>
</div>

<script src="/socket.io/socket.io.js"></script> 
<script src="/addTicket.js"></script>



</body>
</html>