<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

</head>
<body style="display: flex; justify-content:center ; background-image:url(/assets/supermercado.png) ; background-repeat:no-repeat ; background-size:cover">
    
<div style="background-color: #B6311B; width: fit-content ; margin-top:30px ; padding:20px ; border-radius:20px ">
   <p style="font-size: 50px; background-color:#951A06">Bienvenido {{nombre}}</p>
   {{#if thumbnail }}
      <img style="margin-left: 15px , width: 200px; height:200px ; border-radius:50%; margin-left:20% ; margin-right:20%" src="/uploads/profile/{{thumbnail}}">
     

        

           
    {{/if}}
   <h1>Change profile photo:</h1> 
 <form action="/api/users/{{id}}/documents" method="post" enctype="multipart/form-data">

    <input type="file" name="image" required>
    <button type="submit">change</button>
   </form>
     
   <div style="background-color:#951A06 ; border-radius:20px ; padding:10px ; margin-top:20px">
     <h1>Profile Details: </h1>
     <p>Id de usuario: {{id}}</p>
     <p>Email: {{email}}</p>
     <p>Rol: {{rol}}</p>
     <div style="display: flex; flex-direction:column">
       <a href="http://localhost:8080/api/products">Ver Productos</a>
       <a href="/logout"> Cerrar Sesion</a>
     </div>
   </div> 
   
   
</div>

  


   

</body>
</html>