<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" src="/products.css">
    <title>chat</title>


</head>
<body style="margin: 0; ">

   
    {{{body}}}
   <header style="width : 100%;">
    
    <div style="background-color: #D94229; ;width : 100%; display:flex;">
    <img style="width:300px ; height : 120px;" src="/assets/logo.png">
    <a class="links" style="font-size:25px; text-decoration : none; color : #000000" href="/api/carts"><img style="width:170px ; height : 100px;" src="/assets/carrito.png"></a>
   
     </div>
     
      <nav style="background-color: #AE1F08 ; width : 100% ; display : flex; justify-content : space-around">
        
          <a class="links" style="font-size:25px; text-decoration : none; color : #000000 ;" href="/api/products">Home</a>
         
          <a class="links" style="font-size:25px; text-decoration : none; color : #000000 ;" href="/current">Detalles de usuario</a>
         
          
         
          <a class="links" style="font-size:25px; text-decoration : none; color : #000000" href="/logout">logout</a>
         
          <a class="links" style="font-size:25px; text-decoration : none; color : #000000" href="/chat">Chat</a>
          
        </nav>
     
     
     
      </header>
     
      <img src="/assets/supermercado.png" style="width:100%; height:800px;">
        
     
      <section style="display: flex;flex-wrap:wrap;width:100%;justify-content:space-around;padding-bottom:50px;padding-top:50px;margin:0%">
      <img style="width:100px;" src="/assets/bimbo.jpg">
      <img style="width:100px;"  src="/assets/fanta.jpg">
      <img style="width:100px;"  src="/assets/pringles.jpg">
      <img style="width:100px; border-radius:50%"  src="/assets/sabritas.png">
      <img style="width:100px;" src="/assets/nestle.jpg">
      <img style="width:100px;" src="/assets/chips.jpg">
      <img style="width:100px;" src="/assets/starbucks.jpg">
      <img style="width:100px;" src="/assets/whole.jpg">
      <img style="width:100px;" src="/assets/swirl.png">
      
      </section>
      <div style="display: flex ; flex-direction : row ; height : auto ; width : 100% ">
        <ul  style=" width:20%; margin : 0;display:flex;flex-direction:column;padding:0%;height:auto;overflow:auto;border-bottom:1px solid #0081E0">
          {{#each categorias}}
           <li style="list-style : none ;display:inline-block ;height:auto;padding:10px;padding-right:0%;width:auto;margin:0;border-left:2px solid#0081E0;border-top:0.2px solid #0081E0;">
            <a style="text-decoration : none ; color : #0081E0;" href="/api/products?category={{this}}">{{this}}&nbsp;&nbsp &gt </a>
            </li>

           {{/each}}
             <h1   class="email" id={{email}}>Bienvenido! {{nombre}}, email :{{email}}</h1>
        </ul>
      
      
      <div style="width: 100%;">
       <img style="width:100%;margin-top:0%;height: 300px" src="/assets/foto.png">
       <div id="products" style="display:grid; grid-template-columns:repeat(auto-fit,minmax(200px,1fr));grid-gap: 100px;margin:10% ;margin-top:10%;width:80%;overflow:auto;max-height:700px">



       {{#each products}}
       
        <div id="product" style="height:fit-content; border-radius : 10px ; background-color:#FFFFFF;">
          <img style="width: 100%; height:30%" src="/assets/lentejas.jpg">
          <h3 >{{title}}</h3> 
          <p>{{description}}</p> 
          <p>${{price}}</p> 
          <p>stock: {{stock}}</p>  
          <p>{{category}}</p>
          <button style="width: 100%;" class="productbutton" id={{_id}}>agregar al carrito</button>
          
          
        </div>
       
      {{/each}}
      
    
       </div>
      <div style="display:flex;justify-content:space-evenly">
           <button>
            <a href="/api/products?pagina=1"  style="margin-top : 100px">pagina.1</a>
           </button>
      

      {{#if hasPrevPage}}
      <button>  <a href="/api/products?pagina={{prevPage}}">prev.page</a></button>
        {{else}}<span>prev.pag</span>
      {{/if}}

      {{#if hasNextPage}}
      <button><a href="/api/products?pagina={{nextPage}}">nextPage</a></button>
        {{else}}<button>prev.pag</button>
      {{/if}}
      
      <button>
      <a>totalPages : {{totalPages}}</a>
      </button>
      </div>
       </div>


       </div>
    


<script src="/socket.io/socket.io.js"></script> 
<script src="/addToCart.js"></script>


</body>
</html>