<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" src="/products.css">
    <title>chat</title>


</head>
<body style="margin: 0; background-color:#FAFAFA ">

   
    {{{body}}}
   <header style="width : 100%;">
    
    <div style="background-color: #D94229; ;width : 100%; display:flex;">
    <img style="width:300px ; height : 120px;" src="/assets/logo.png">
    <a class="links" style="font-size:25px; text-decoration : none; color : #000000;" href="/api/carts/{{iduser}}"><img style="width:170px ; height : 100px;" src="/assets/carrito.png"></a>
   
     </div>
     
      <nav style="background-color: #AE1F08 ; width : 100% ; display : flex; justify-content : space-around">
        
          <a class="links" style="font-size:25px; text-decoration : none; color : #000000 ;" href="/api/products">Home</a>
         
          <a class="links" style="font-size:25px; text-decoration : none; color : #000000 ;" href="/current">Detalles de usuario</a>
         
          <a class="links" style="font-size:25px; text-decoration : none; color : #000000 ;" href="/api/users/premium/{{email}}">Premium User</a>
         
          <a class="links" style="font-size:25px; text-decoration : none; color : #000000" href="/logout">logout</a>
         
          <a class="links" style="font-size:25px; text-decoration : none; color : #000000" href="/chat">Chat</a>
          
        </nav>
     
     
     
      </header>
     

     
        <img style="width:90% ; margin: 5% ; margin-bottom: 2%" src="/assets/supermercado.png">

       
       <div style=" width:90% ; height:400px ; display:flex ; margin :5% ; justify-content:space-between">
           <img style="width:45% ; height:100%"  src="/assets/lido.jpg">
           <img  style="width:45%; height:100%" src="/assets/pasta.jpg">
        </div>

    
   <!--             <div style="height:fit-content;display: flex;flex-wrap:wrap;width:50%;justify-content:space-around;padding-bottom:50px;padding-top:50px;margin-left:25%;margin-top:950px;background-color:#E9E9E9;border-radius:20px; box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4)">
      <img style="width:50px; border-radius:50%" src="/assets/bimbo.jpg">
      <img style="width:50px; border-radius:50%"  src="/assets/fanta.jpg">
      <img style="width:50px; border-radius:50%"  src="/assets/pringles.jpg">
      <img style="width:50px; border-radius:50%"  src="/assets/sabritas.png">
      <img style="width:50px; border-radius:50%" src="/assets/nestle.jpg">
      <img style="width:50px; border-radius:50%" src="/assets/chips.jpg">
      <img style="width:50px; border-radius:50%" src="/assets/starbucks.jpg">
      <img style="width:50px; border-radius:50%" src="/assets/whole.jpg">
      <img style="width:50px; border-radius:50%" src="/assets/swirl.png">
      
      </div>-->

      
     
    <!--  <section style="display: flex;flex-wrap:wrap;width:100%;justify-content:space-around;padding-bottom:50px;padding-top:50px;margin:0%">
      <img style="width:100px;" src="/assets/bimbo.jpg">
      <img style="width:100px;"  src="/assets/fanta.jpg">
      <img style="width:100px;"  src="/assets/pringles.jpg">
      <img style="width:100px; border-radius:50%"  src="/assets/sabritas.png">
      <img style="width:100px;" src="/assets/nestle.jpg">
      <img style="width:100px;" src="/assets/chips.jpg">
      <img style="width:100px;" src="/assets/starbucks.jpg">
      <img style="width:100px;" src="/assets/whole.jpg">
      <img style="width:100px;" src="/assets/swirl.png">
      
      </section>
      -->
      
      <div class="global" style="display: flex ; flex-direction : row ; height : auto ; width : 100% ;justify-content:center; padding-bottom: 200px">
        <ul  style=" width:20%; margin : 0; margin-top:150px; display:flex; flex-direction:column; padding:0%; height:fit-content; overflow:auto; margin-left:5%; border:1px solid #B3B3B3;">
         <h1 style="margin: 0%; width:100%;background-color: #D94229; text-align:center;padding:10px; color : #FFFFFF">Categorias</h1>
          {{#each categorias}}
           <li style="list-style : none ;display:inline-block ;height:auto;padding:10px;padding-right:0%;width:auto;margin:0;border-bottom:1px solid #B3B3B3">
            <a style="text-decoration : none ; color:#000000; " href="/api/products?category={{this}}">{{this}}</a>
            </li>

           {{/each}}
             <h1   class="email" id={{email}}>Bienvenido! {{nombre}}, email :{{email}}</h1>
        </ul>
      
      
      <div style="width: 100%;">

      <div class="productscontainer" style="width: 95%;margin-top:155px;text-align:center;margin-left:20px;">
        <h1 style="width: 100%; background-color: #D94229; padding-bottom:13px; padding-top:10px;color:#FFFFFF">Productos</h1>
       <div id="products" style="display:grid; grid-template-columns:repeat(auto-fit,minmax(220px,1fr));grid-gap: 30px; width:100%; ">
       


       {{#each products}}
       
        <div id="product" style="height:fit-content;  background-color:#FFFFFF;border:1px solid #B3B3B3;">
          <img style="width: 200px; height:200px" src="/assets/lentejas.jpg">
        <!--  <h3 style="text-align: start;"  >{{title}}</h3> -->
          <p style="text-align: start;">{{description}}</p> 
          <p style="text-align: start;">stock: {{stock}}</p> 
          <div style="width:100%; display:flex; justify-content:space-around"> 
       <!--   <p>{{category}}</p> -->
          <p style="color: #5DD300;text-align: start; font-size:25px; height:40px">${{price}}</p> 
          <button style="width: 40%; height:40px; background-color: #D94229; color:#FFFFFF; border:0px solid #000000; margin-top:15px" class="productbutton" id={{_id}}>COMPRAR</button>
          </div>
          
        </div>
       
      {{/each}}
      
    
       </div>
       </div>


      <div class="paginatebuttons" style="display:flex; justify-content:space-evenly ; padding-top:30px">
           <button>
            <a href="/api/products?pagina=1"  style="margin-top : 100px">pagina.1</a>
           </button>
      

      {{#if hasPrevPage}}
      <button>  <a href="/api/products?pagina={{prevPage}}">prev.page</a></button>
        {{else}}<span>prev.pag</span>
      {{/if}}

      {{#if hasNextPage}}
      <button><a href="/api/products?pagina={{nextPage}}">nextPage</a></button>
        {{else}}<button>prev.pag</button>
      {{/if}}
      
      <button>
      <a>totalPages : {{totalPages}}</a>
      </button>
      </div>
       </div>


       </div>
       <footer style="background-color: #AE1F08; width:100%; height:50px; text-align:center; ">
        <p style="color:#FAFAFA ; padding-top:15px">@copyright - todos los derechos reservados</p>
        </footer>
    


<script src="/socket.io/socket.io.js"></script> 
<script src="/addToCart.js"></script>


</body>
</html>